/* Background Image */
body {
    background-color: #C8BFBF;
    overflow-y: hidden;
}

.parent {
    left: 0;
    position: relative;
    top: 0;
}

.pinkpillow {
    left: 0;
    position: relative;
    padding-top: 5%;
    padding-left: 20%;
    top: 0;
}

.bluepillow {
    left: 60%;
    position: absolute;
    top: 35%;
}

/* Styling top navigation bar of the home page */

#topnav {
    background-color: lightgray;
    font-family: "Bodoni 72 Smallcaps";
    height: 8%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 5%;
    width: 100%;
}


/* Style the links inside the navigation bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#topnav a {
    color: black;
    float: left;
    font-size: 100%;
    padding: 1.25% 3%;
    text-align: center;
    text-decoration: none;
}

/* Create gap in the nav bar */
.cart {
    left: 84%;
    position: fixed;
    top: 5%;
    width: 85%;
}

/* Change color of links on hover */
#topnav a:hover {
    background-color: darkgrey;
    color: indianred;
    transition-duration: 0.4s;
}

/* Add a color to the active/ current link */
#topnav a.active {
    background-color: indianred;
    color: black;
}

/* Styling middle of home page */
.middlehome {
    font-family: "Bodoni 72 Smallcaps";
}

.fluffstuff {
    font-size: 600%;
    left: 5%;
    position: fixed;
    top: 42%;
}
.caption {
    font-family: "Bodoni 72 Smallcaps";
    font-size: 175%;
    left: 5%;
    position: fixed;
    top: 62%;
}

/* Active 'Shop Now' button */
h2 {
    display: block;
    left: 2%;
    top: 5%;
    vertical-align: middle;
}

.shopnowbutton {
    background: lightgrey;
    border-radius: 50%;
    display: block;
    font-family: "Bodoni 72 Smallcaps";
    font-size: 140%;
    height: 25%;
    left: 42%;
    line-height: 30%;
    opacity: 0.75;
    overflow: hidden;
    position: fixed;
    top: 55%;
    transition-duration: 0.4s;
    width: 12%;
}

.shopnowbutton:hover {
    background-color: black;
    color: white;
}

/* Cushion */
.denim {
    left: 4.5%;
    position: fixed;
    top: 40%;
}

/* Floor Pouf */
.floorpouf {
    left: 22%;
    position: fixed;
    top: 40%;
}

/* Bed Pillow */
.bed {
    left: 55%;
    position: fixed;
    top: 35%;
}

/* Floor Pouf */
.round {
    left: 71.5%;
    position: fixed;
    top: 35%;
}

/* Buttons */
.couchbutton {
    background: lightgrey;
    border-radius: 50%;
    display: block;
    height: 17%;
    left: 8%;
    line-height: 175%;
    opacity: 0.75;
    font-family: "Bodoni 72 Smallcaps";
    font-size: 100%;
    overflow: hidden;
    position: fixed;
    top: 78%;
    vertical-align: middle;
    width: 8.5%;

    transition-duration: 0.4s;
}

.couchbutton:hover {
    background-color: indianred;
    color: black;
}

.floorbutton {
    background: lightgrey;
    border-radius: 50%;
    display: block;
    font-family: "Bodoni 72 Smallcaps";
    font-size: 100%;
    height: 17%;
    left: 32%;
    line-height: 175%;
    opacity: 0.75;
    overflow: hidden;
    position: fixed;
    top: 78%;
    transition-duration: 0.4s;
    vertical-align: middle;
    width: 8.5%;
}

.floorbutton:hover {
    background-color: indianred;
    color: black;
}

.bedbutton {
    background: lightgrey;
    border-radius: 50%;
    display: block;
    font-family: "Bodoni 72 Smallcaps";
    font-size: 100%;
    height: 17%;
    left: 58%;
    line-height: 175%;
    opacity: 0.75;
    overflow: hidden;
    position: fixed;
    top: 78%;
    transition-duration: 0.4s;
    vertical-align: middle;
    width: 8.5%;
}

.bedbutton:hover {
    background-color: indianred;
    color: black;
}

.roundbutton {
    background: lightgrey;
    border-radius: 50%;
    display: block;
    left: 82%;
    line-height: 175%;
    font-family: "Bodoni 72 Smallcaps";
    font-size: 100%;
    height: 17%;
    opacity: 0.75;
    overflow: hidden;
    position: fixed;
    top: 78%;
    transition-duration: 0.4s;
    vertical-align: middle;
    width: 8.5%;
}

.roundbutton:hover {
    background-color: indianred;
    color: black;
}

/* Pillow Product Detail Page */

.couchtitle {
    left: 15.5%;
    font-family: "Bodoni 72 Smallcaps";
    font-size: 325%;
    position: fixed;
    top: 14%;
}

.pillow {
    left: 10%;
    position: fixed;
    top: 27%;
}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Size Picker */
.five {
    float: left;
    font-family: "Bodoni 72 Smallcaps";
    font-size: 150%;
    left: 67%;
    position: fixed;
    top: 26%;
}

.six {
    float: left;
    left: 71%;
    font-family: "Bodoni 72 Smallcaps";
    font-size: 150%;
    position: fixed;
    top: 26%;
}

.seven {
    float: left;
    font-family: "Bodoni 72 Smallcaps";
    font-size: 150%;
    left: 75%;
    position: fixed;
    top: 26%;

}

.eight {
    float: left;
    font-family: "Bodoni 72 Smallcaps";
    font-size: 150%;
    left: 79%;
    position: fixed;
    top: 26%;
}

.nine {
    float: left;
    font-family: "Bodoni 72 Smallcaps";
    font-size: 150%;
    left: 83%;
    position: fixed;
    top: 26%;
}

p.sizetitle {
    font-family: "Bodoni 72 Smallcaps";
    font-size: 160%;
    left: 60%;
    position: fixed;
    top: 22%;
}

/* Color Picker */

.color {
    font-family: "Bodoni 72 Smallcaps";
    font-size: 160%;
}

p.colortitle {
    left: 60%;
    position: fixed;
    top: 32%;
}

.after {
    left: 71%;
    margin: 2% 0;
    position: fixed;
    top: 32.5%;
}

.haze {
    left: 71%;
    margin: 2% 0;
    position: fixed;
    top: 42.5%;
}

.cozydenim {
    left: 71%;
    margin: 2% 0;
    position: fixed;
    top: 52.5%;
}

.day {
    left: 71%;
    margin: 2% 0;
    position: fixed;
    top: 62.5%;
}

.afterschool {
    background-color: deeppink;
    border-radius: 50%;
    left: 67%;
    height: 5%;
    position: fixed;
    top: 37%;
    width: 2.5%;
}

.morning {
    background-color: yellow;
    border-radius: 50%;
    left: 67%;
    height: 5%;
    position: fixed;
    top: 47%;
    width: 2.5%;
}

.cozy {
    background-color: darkblue;
    border-radius: 50%;
    height: 5%;
    left: 67%;
    position: fixed;
    top: 57%;
    width: 2.5%;
}

.rainy {
    background-color: lightcyan;
    border-radius: 50%;
    height: 5%;
    left: 67%;
    position: fixed;
    top: 67%;
    width: 2.5%;
}

/* Dropdown button */

.dropdown {
    font-family: "Bodoni 72 Smallcaps";
    font-size: 160%;
}

.filltitle {
    left: 60%;
    position: fixed;
    top: 73%;
}

.dropbtn {
    background-color: lightgrey;
    border: none;
    color: black;
    font-family: "Bodoni 72 Smallcaps";
    font-size: 100%;
    height: 6%;
    left: 67%;
    position: fixed;
    top: 77%;
    width: 30%;
}

.dropdown {
    display: inline-block;
    position: fixed;
}

.dropdown-content {
    background-color: lightgrey;
    display: none;
    left: 67%;
    min-width: 30%;
    position: fixed;
    top: 83%;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    display: block;
    padding: 2% 3%;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: indianred;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: darkgrey;
}

/* Floor Pouf Product Detail Page */

.pouf {
    font-family: "Bodoni 72 Smallcaps";
    font-size: 325%;
    left: 20%;
    position: fixed;
    top: 120%;
}

.pillow {
    left: 10%;
    position: fixed;
    top: 27%;
}

