/* Background Image */
body {
    background-image: url("https://mbtskoudsalg.com/images/pink-pillow-png.png");
    background-color: #C8BFBF;
    top: 100px;
}

/* Styling top navigation bar of the home page */
#topnav {
    background-color: lightgray;
    overflow: hidden;
    font-family: "Bodoni 72 Smallcaps";
    position: fixed;
    width:1000px;
}

/* Style the links inside the navigation bar */
#topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 16px;
}

/* Change color of links on hover */
#topnav a:hover {
    background-color: darkgrey;
    color: indianred;
}

/* Add a color to the active/ current link */
#topnav a.active {
    background-color: indianred;
    color: black;
}

/* Styling middle of home page */
.middlehome {
    font-family: "Bodoni 72 Smallcaps";
}

.fluffstuff {
    padding-top: 200px;
    position: relative;
    top: 65px;
    left: 60px;
    font-size: 75px;
    padding-bottom: 5px;
}
.caption{
    font-size: 20px;
    padding-left: 60px;
    font-family: "Bodoni 72 Smallcaps";
}

/* Active 'Shop Now' button */
h2 {
    top: 20px;
    left: 5px;
    display: block;
    vertical-align: middle;
}
.button {
    background: lightgrey;
    opacity: 0.75;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    vertical-align: middle;
    line-height: 25px;
    position: relative;
    top: -142px;
    float: center;
    left: 450px;
    display: block;
    overflow: hidden;
    font-size: 25px;
    font-family: "Bodoni 72 Smallcaps";
}





