/* Background Image */
body {
    background-color: #C8BFBF;
    overflow-y: hidden;
}

.parent {
    position: relative;
    top: 0;
    left: 0;
}

.pinkpillow {
    position: relative;
    padding-top: 100px;
    padding-left: 275px;
    top: 0;
    left: 0;
}

.bluepillow {
    position: absolute;
    top: 375px;
    left: 750px;
}

/* Styling top navigation bar of the home page */
#topnav {
    background-color: lightgray;
    overflow: hidden;
    font-family: "Bodoni 72 Smallcaps";
    position: fixed;
    width: 1280px;
    top: 35px;
    left: 0px;
}

/* Style the links inside the navigation bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 16px;
}

/* Create gap in the nav bar */
.login,
.contact,
.cart {
    float: right;
}

/* Change color of links on hover */
#topnav a:hover {
    background-color: darkgrey;
    color: indianred;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

/* Add a color to the active/ current link */
#topnav a.active {
    background-color: indianred;
    color: black;
}

/* Styling middle of home page */
.middlehome {
    font-family: "Bodoni 72 Smallcaps";
}

.fluffstuff {
    position: fixed;
    top: 265px;
    left: 60px;
    font-size: 100px;
}
.caption {
    font-size: 30px;
    position: fixed;
    top: 385px;
    left: 60px;
    font-family: "Bodoni 72 Smallcaps";
}

/* Active 'Shop Now' button */
h2 {
    top: 20px;
    left: 5px;
    display: block;
    vertical-align: middle;
}

.shopnowbutton {
    background: lightgrey;
    opacity: 0.75;
    width: 150px;
    height: 150px;
    top: 340px;
    left: 550px;
    border-radius: 50%;
    vertical-align: middle;
    line-height: 30px;
    position: fixed;
    float: center;
    display: block;
    overflow: hidden;
    font-size: 30px;
    font-family: "Bodoni 72 Smallcaps";
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.shopnowbutton:hover {
    background-color: black;
    color: white;
}

/* Cushion */
.denim {
    position: relative;
    top: 185px;
    left: 40px;
}

/* Floor Pouf */
.floorpouf {
    position: relative;
    top: 185px;
    left: 65px;
}

/* Bed Pillow */
.bed {
    position: relative;
    top: 185px;
    left: 90px;
}

/* Floor Pouf */
.round {
    position: relative;
    top: 185px;
    left: 115px;
}

/* Buttons */
.couchbutton {
    background: lightgrey;
    opacity: 0.75;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    vertical-align: middle;
    line-height: 30px;
    float: center;
    display: block;
    overflow: hidden;
    font-size: 15px;
    font-family: "Bodoni 72 Smallcaps";
    position: fixed;
    top: 475px;
    left:100px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.couchbutton:hover {
    background-color: indianred;
    color: black;
}

.floorbutton {
    background: lightgrey;
    opacity: 0.75;
    width: 100px;
    height: 100px;
    top: 200px;
    left: 400px;
    border-radius: 50%;
    vertical-align: middle;
    line-height: 30px;
    float: center;
    display: block;
    overflow: hidden;
    font-size: 15px;
    font-family: "Bodoni 72 Smallcaps";
    position: fixed;
    top: 475px;
    left: 425px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.floorbutton:hover {
    background-color: indianred;
    color: black;
}

.bedbutton {
    background: lightgrey;
    opacity: 0.75;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    vertical-align: middle;
    line-height: 30px;
    float: center;
    display: block;
    overflow: hidden;
    font-size: 15px;
    font-family: "Bodoni 72 Smallcaps";
    position: fixed;
    top: 475px;
    left: 765px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.bedbutton:hover {
    background-color: indianred;
    color: black;
}

.roundbutton {
    background: lightgrey;
    opacity: 0.75;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    vertical-align: middle;
    line-height: 30px;
    float: center;
    display: block;
    overflow: hidden;
    font-size: 15px;
    font-family: "Bodoni 72 Smallcaps";
    position: fixed;
    top: 475px;
    left: 1085px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.roundbutton:hover {
    background-color: indianred;
    color: black;
}

/* Pillow Product Detail Page */

.couchtitle {
    position: fixed;
    top: 90px;
    left: 190px;
    font-family: "Bodoni 72 Smallcaps";
    font-size: 50px;
}

.pillow {
    position: relative;
    top: 160px;
    left: 100px;
}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Size Picker */
.sizepick {
    font-family: "Bodoni 72 Smallcaps";
    font-size: 25px;
    float: left;
    position: relative;
    top: -275px;
    left: 740px;
}

.sizetitle {
    position: relative;
    top: -275px;
    left: 325px;
    font-family: "Bodoni 72 Smallcaps";
    font-size: 25px;
}

/* Color Picker */

.color {
    font-family: "Bodoni 72 Smallcaps";
    font-size: 25px;
}

.colortitle {
    position: relative;
    top: -400px;
    left: 600px;
}

.colorlist {
    position: relative;
    top: -450px;
    left: 800px;
    margin: 25px 0;
}

.afterschool {
    background-color: deeppink;
    position: relative;
    top: -225px;
    left: 457px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.morning {
    background-color: yellow;
    position: relative;
    top: -205px;
    left: 740px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.cozy {
    background-color: darkblue;
    position: relative;
    top: -185px;
    left: 740px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.rainy {
    background-color: lightcyan;
    position: relative;
    top: -165px;
    left: 740px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

/* Dropdown button */

.dropdown {
    font-family: "Bodoni 72 Smallcaps";
    font-size: 25px;
}

.filltitle {
    position: relative;
    top: -475px;
    left: 600px;
}

.dropbtn {
    background-color: lightgrey;
    color: black;
    width: 400px;
    height: 40px;
    font-size: 25px;
    border: none;
    font-family: "Bodoni 72 Smallcaps";
    position: relative;
    top: -525px;
    left: 725px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: relative;
    top: -525px;
    left: 725px;
    background-color: lightgrey;
    mid-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: indianred;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: darkgrey;
}