/* Background Image */
body {
    background-image: url("https://mbtskoudsalg.com/images/pink-pillow-png.png");
    background-color: #C8BFBF;
    background-repeat: no-repeat;
    width: 1200px;
    height: 800px;
    background-size: 900px 1100px;
    background-position-x: 400px;
    background-position-y: 70px;
}



/* Styling top navigation bar of the home page */
#topnav {
    background-color: lightgray;
    overflow: hidden;
    font-family: "Bodoni 72 Smallcaps";
    position: fixed;
    width: 1280px;
    top: 35px;
    left: 0px;
}

/* Style the links inside the navigation bar */
#topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 16px;
}

/* Change color of links on hover */
#topnav a:hover {
    background-color: darkgrey;
    color: indianred;
}

/* Add a color to the active/ current link */
#topnav a.active {
    background-color: indianred;
    color: black;
}

/* Styling middle of home page */
.middlehome {
    font-family: "Bodoni 72 Smallcaps";
}

.fluffstuff {
    position: fixed;
    top: 265px;
    left: 60px;
    font-size: 100px;
}
.caption {
    font-size: 30px;
    position: fixed;
    top: 385px;
    left: 60px;
    font-family: "Bodoni 72 Smallcaps";
}

/* Active 'Shop Now' button */
h2 {
    top: 20px;
    left: 5px;
    display: block;
    vertical-align: middle;
}

.button {
    background: lightgrey;
    opacity: 0.75;
    width: 150px;
    height: 150px;
    top: 340px;
    left: 550px;
    border-radius: 50%;
    vertical-align: middle;
    line-height: 30px;
    position: fixed;
    float: center;
    display: block;
    overflow: hidden;
    font-size: 30px;
    font-family: "Bodoni 72 Smallcaps";
}





